<footer class="footer">
    <div class="row">
        <p class="col"><a href="{{ path('default.infos') }}">{{ 'Informations pratiques' | capitalize }}</a></p>
        <p class="col"><a href="{{ path('default.mentions') }}">{{ 'Mentions légales' | capitalize }}</a></p>
        <p class="col"><a href="{{ path('default.blog') }}">{{ 'Blog' | capitalize }}</a></p>
    </div>
</footer>