<footer class="footer">
    <div class="row">
        <p class="col text-center bg-info mb-0"><a href="{{ path('default.infos') }}" class="text-muted">{{ 'Informations pratiques' | capitalize }}</a></p>
        <p class="col text-center bg-info mb-0"><a href="{{ path('default.mentions') }}" class="text-muted">{{ 'Mentions légales' | capitalize }}</a></p>
        <p class="col text-center bg-info mb-0"><a href="{{ path('default.blog') }}" class="text-muted">{{ 'Blog' | capitalize }}</a></p>
    </div>
</footer>